<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {{#if (is @page.title "Home")}}
      {{{ @root.site.title }}} &middot; {{{ @root.site.tagline }}}
    {{else}}
      {{{ @page.title }}} &middot; {{{ @root.site.title }}}
    {{/if}}
  </title>

  <link rel="stylesheet" href="{{{ root }}}/assets/css/styles.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{{ root }}}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{{ root }}}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{{ @root.site.title }}}" href="{{{ root }}}/atom.xml">
</head>
